@tailwind base;
@tailwind components;
@tailwind utilities;

.progress-bar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 75px;
    min-height: 75px;
    border-radius: 50%;
    background: transparent;
}

.progress-bar::before {
    content: "75%";
    position: absolute;
    color: #000000;
}

.progress-bar-light-1 {
    background:
        radial-gradient(closest-side, #fff 60%, transparent 100% 100%), conic-gradient(rgb(194 137 255) 85%, rgba(255, 192, 203, 0) 0);
}

.progress-bar-light-2 {
    background:
        radial-gradient(closest-side, #fff 60%, transparent 100% 100%), conic-gradient(rgb(255 107 169) 64%, rgba(255, 192, 203, 0) 0);
}

.progress-bar-light-3 {
    background:
        radial-gradient(closest-side, #fff 60%, transparent 100% 100%),
        conic-gradient(rgb(98 128 255) 95%, rgba(255, 192, 203, 0) 0);
}

@layer utilities {
    .progress-bar-dark-1 {
        background:
            radial-gradient(closest-side, #171717 60%, transparent 100% 100%),
            conic-gradient(rgb(54, 39, 70) 85%, rgba(255, 192, 203, 0) 0);
    }

    .progress-bar-dark-2 {
        background:
            radial-gradient(closest-side, #171717 60%, transparent 100% 100%),
            conic-gradient(rgb(70, 39, 52) 64%, rgba(255, 192, 203, 0) 0);
    }

    .progress-bar-dark-3 {
        background:
            radial-gradient(closest-side, #171717 60%, transparent 100% 100%),
            conic-gradient(rgb(39, 45, 70) 95%, rgba(255, 192, 203, 0) 0);
    }

    .progress-bar-dark::before {
        content: "75%";
        position: absolute;
        color: #fff;
    }
}